$colorShadowHover: #F1FAEE;
$colorGeneral:#A8DADC;
$colorBackground:#457B9D;
$colorBorderBox: #1D3557;
$colorDisabled:#504f4f;
$colorText: #011627;
$colorHeader: #fff5d7;
$colorDefault: #d3d3d3;
$colorIncorrect: #9e4c4c;
$colorCorrect: #3db977;
$colorHover: #1ACC9B;