.categorySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoryName {
    font-size: 10rem;
    text-align: center;
    @include responsiveMedia(smallTablet){
        font-size:5rem;
        margin-bottom: 30px;
    }
    @include responsiveMedia(phone){
        font-size:3.5rem;
        margin-bottom: 20px;
    }

}

.questionButtons {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 10px;
    
    button{
        font-size: 5rem;
        width:100%;
        color:$colorBorderBox;
        justify-self: center;
        background-color:$colorDefault;
        border-radius: 40px;
        border:5px solid $colorBorderBox;
        &:hover:enabled,
        &:focus:enabled{
            transform: rotate(2deg);
        }
        &.jQuestion.disabled{
            background-color: $colorDisabled;
            }
    }
    @include responsiveMedia(smallTablet){
        column-gap: 4px;
        row-gap: 4px;
        button{
            font-size: 3.2rem;
        }
    }
    @include responsiveMedia(phone){
        column-gap: 2px;
        row-gap: 2px;
        button{
            font-size: 2.8rem;
        }
    }

}
