.categorySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoryName {
    font-size: 10rem;
    text-align: center;
}

.questionButtons {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 10px;
    button{
        font-size: 5rem;
        width:100%;
        color:$colorBorderBox;
        justify-self: center;
        background-color:#d3d3d3;
        border-radius: 40px;
        border:5px solid $colorBorderBox;
        &:hover:enabled,
        &:focus:enabled{
            transform: rotate(2deg);
        }
        &.jQuestion.disabled{
            color:#504f4f;
            border: 5px solid #504f4f;
            background-color: transparent;
            // width:40%;
            // padding: 15px;
            }

    }
   
}
