body{
        // https://stackoverflow.com/questions/21107558/how-to-make-classroom-greenboard-effect-using-css3/21110813
        background: $colorGeneral; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  $colorBackground 1%, $colorBorderBox 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,$colorGeneral), color-stop(100%,$colorBorderBox)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  $colorBackground 1%,$colorBorderBox 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  $colorBackground 1%,$colorBorderBox 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  $colorBackground 1%,$colorBorderBox 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  $colorBackground 1%,$colorBorderBox 100%); /* W3C */
        /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorGeneral, endColorstr=$colorBorderBox,GradientType=1 );  *//* IE6-9 fallback on horizontal gradient */
        color: $colorDefault;
    } 
    // background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
    // background-color: #333;
h1, h2{
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 40px;
    color:$colorHeader;
}

h3, button, p, footer{
    font-family: 'Walter Turncoat', cursive;
}

header, section {
    height: 95vh;
}

button{
    background: none;
    border-style: none;
    border: 5px solid #979997;
    width:40%;
    padding: 15px;
}

.scoreContainer{
    position: absolute;
    top:30px;
    left:15px;
    font-size: 3.5rem;
    @include responsiveMedia(smallTablet){
        font-size: 2.7rem;
        left:30px;
    }
    @include responsiveMedia(phone){
        font-size: 2.2rem;
    }
}

.audioContainer{
    position: absolute;
    top: 40vh;
    left: 15px;
    @include responsiveMedia(tablet){
        position: absolute;
        top: 78vh;
        left: 15px;
    }
}

.audioContainerTxt{
    position: absolute;
    top: calc(40vh + (4rem * 3) + (2rem * 4));
    left: 15px;
    @include responsiveMedia(tablet){
        position: absolute;
        top: calc(78vh + (3rem * 3) + (2rem * 2));
        left: 15px;
    }
    @include responsiveMedia(smallTablet){
        position: absolute;
        top: calc(78vh + (2.2rem * 3) + (2rem * 2));
        left: 15px;
    }
}

.play,.pause,.plusVolume,.minusVolume{
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 4rem;
    &:hover,
    &:focus{
        box-shadow:0 0 10px 10px $colorBorderBox, $colorBorderBox 0 0 20px inset;
    }
    @include responsiveMedia(tablet){
        font-size: 3rem;
    }
    @include responsiveMedia(smallTablet){
        font-size: 2.4rem;
    }
    @include responsiveMedia(phone){
        font-size: 2.2rem;
    }
}

.styleTextU {
    text-transform: uppercase;
}

.hide{
    display:none;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    & > p{
        /* width 40% is for easter egg */
        width:40%;
        cursor: pointer;
        @include responsiveMedia(tablet){
            width:75%;
        }
        @include responsiveMedia(smallTablet){
            width:100%;
        }
        @include responsiveMedia(phone){
            width:80%;
        }
    }
}


