body{
        // https://stackoverflow.com/questions/21107558/how-to-make-classroom-greenboard-effect-using-css3/21110813
        background: #63856a; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #577d5f 1%, #3c5a40 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#63856a), color-stop(100%,#3c5a40)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #577d5f 1%,#3c5a40 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #577d5f 1%,#3c5a40 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #577d5f 1%,#3c5a40 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #577d5f 1%,#3c5a40 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63856a', endColorstr='#3c5a40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: #ffffff;
    } 
    // background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
    // background-color: #333;
h1, h2{
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 40px;
}

h3, button, p, footer{
    font-family: 'Walter Turncoat', cursive;
}

header, section {
    height: 95vh;
}
button{
    background: none;
    border-style: none;
    border: 5px solid #ffffff;
    width:40%;
    padding: 15px;
}
footer {
    text-align: center;
}


.incorrect {
    background-color: #8B4343;
}
.correct {
    background-color: #568B43;
}