.questionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.randomQuestion {
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    color:$colorHeader;
}

.multipleChoice {
    width:90%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 10px;
    .incorrect {
        background-color: #9e4c4c;
    }
    .correct {
        background-color: #3db977;
        color:$colorHeader;
    }
    
}


.multipleChoiceAnswer {
    font-size: 3rem;
    width:100%;
    color:$colorBorderBox;
    justify-self: center;
    border:5px solid $colorBorderBox;
    background-color: $colorGeneral;
    &:hover:enabled,
    &:focus:enabled{
        /* background-color:orangered; */
        box-shadow:0 0 10px 7px $colorBorderBox;
        border:5px solid $colorGeneral;
    }
    
}

/* timer */
.c-container {
    position: absolute;
    width: 100px;
    top:15px;
    left:15px;
    .c-text {
      position: absolute;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 2rem;
      line-height: 30px;
      top: 50%;
      margin-top: -15px;
    }
    svg {
      width: 100%;
    }
  }
  