.questionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.randomQuestion {
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    color:$colorHeader;
    @include responsiveMedia(smallTablet){
        font-size: 2.7rem;
        line-height: 3rem;
        margin:5vh 0;
    }
    @include responsiveMedia(phone){
        font-size: 2rem;
        line-height: 2.3rem;
        margin:5vh 0;
    }
}

.multipleChoice {
    width:90%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 10px;
    .incorrect {
        background-color: $colorIncorrect;
    }
    .correct {
        background-color: $colorCorrect;
        color:$colorHeader;
    }
    @include responsiveMedia(smallTablet){
        display: initial;
    }
    @include responsiveMedia(phone){
        display: initial;
    }
}

.multipleChoiceAnswer {
    font-size: 3rem;
    width:100%;
    color:$colorBorderBox;
    justify-self: center;
    border:5px solid $colorBorderBox;
    background-color: $colorGeneral;
    &:hover:enabled,
    &:focus:enabled{
        /* background-color:orangered; */
        box-shadow:0 0 10px 7px $colorBorderBox;
        border:5px solid $colorGeneral;
    }
    @include responsiveMedia(smallTablet){
        font-size: 2.4rem;
        line-height: 2.3rem;
    }
    @include responsiveMedia(phone){
        font-size: 2rem;
        line-height: 1.7rem;
    }
}

.responseResult {
    font-size: 3rem;
    text-align: center;
    @include responsiveMedia(smallTablet){
        margin-bottom: 0px;
        margin-top: 80px;
    }
    @include responsiveMedia(phone){
        margin-bottom: 0px;
        margin-top: 75px;
    }
}

.helpKit {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:2px solid $colorDefault;
    cursor: pointer;
    h3{
        position: absolute;
        width: 100%;
        top: 50%;
        color: $colorDefault;
        margin-top: -12px;
        left: 1px;
        text-align: center;
    }
    &:hover:enabled,
    &:focus:enabled {
        border: 2px solid $colorShadowHover;
        box-shadow: 0 0 5px 5px $colorShadowHover ;
        h3 {
            color: $colorGeneral;
        }
    }
    &.disableHelpKit {
        border: 2px solid $colorBorderBox;
        h3 {
            color: $colorBorderBox;
        }
        cursor: default;
    }
    @include responsiveMedia(smallTablet){
        top:2vh;
        right: initial;
    }
    @include responsiveMedia(phone){
        top:2vh;
        right: initial;
    }

}

/* timer */
// Reference: https://codepen.io/kelvinh111/pen/doeprX
.cContainer {
    position: absolute;
    width: 100px;
    top:15px;
    right:25px;
    .cText {
      position: absolute;
      width: 100%;
      text-align: center;
      color: $colorDefault;
      font-size: 2rem;
      line-height: 30px;
      top: 50%;
      margin-top: -15px;
    }
    svg {
      width: 100%;
    }
    @include responsiveMedia(smallTablet){
        width:70px;
        .cText {
            font-size: 1.4rem;
        }
    }
    @include responsiveMedia(phone){
        width:60px;
        .cText {
            font-size: 1.2rem;
        }
    }

  }
  