@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");
/* only Cata */
/* #ffffffd1; */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body,
ul,
h1,
h2,
h3,
p,
li,
a,
img,
form {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #A8DADC;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, #457B9D 1%, #1D3557 100%);
  /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorGeneral, endColorstr=$colorBorderBox,GradientType=1 );  */
  /* IE6-9 fallback on horizontal gradient */
  color: #d3d3d3;
}

h1, h2 {
  font-family: 'Fredericka the Great', cursive;
  margin-bottom: 40px;
  color: #fff5d7;
}

h3, button, p, footer {
  font-family: 'Walter Turncoat', cursive;
}

header, section {
  height: 95vh;
}

button {
  background: none;
  border-style: none;
  border: 5px solid #979997;
  width: 40%;
  padding: 15px;
}

.scoreContainer {
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 3.5rem;
}

.audioContainer {
  position: absolute;
  top: 40vh;
  left: 15px;
}

.audioContainerTxt {
  position: absolute;
  top: calc(40vh + (4rem * 3) + (2rem * 4));
  left: 15px;
}

.play, .pause, .plusVolume, .minusVolume {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 4rem;
}

.play:hover, .play:focus, .pause:hover, .pause:focus, .plusVolume:hover, .plusVolume:focus, .minusVolume:hover, .minusVolume:focus {
  -webkit-box-shadow: 0 0 10px 10px #1D3557, #1D3557 0 0 20px inset;
          box-shadow: 0 0 10px 10px #1D3557, #1D3557 0 0 20px inset;
}

.styleTextU {
  text-transform: uppercase;
}

.hide {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer > p {
  width: 40%;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: 10rem;
}

header p {
  font-size: 3.5rem;
  font-family: 'Walter Turncoat', cursive;
  line-height: 4rem;
}

header button.gameStart {
  margin-top: 160px;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerLoader {
  margin: auto;
  width: 450px;
  max-width: 80%;
  height: 15px;
  -webkit-box-shadow: 0px 0px 4px #d3d3d3;
          box-shadow: 0px 0px 4px #d3d3d3;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.headerLoader:before {
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  -webkit-animation: progress-anime 3s ease-out infinite;
          animation: progress-anime 3s ease-out infinite;
  background: -webkit-gradient(linear, left top, right top, from(#457B9D), color-stop(50%, #1D3557), color-stop(50%, #F1FAEE), to(#F1FAEE));
  background: linear-gradient(to right, #457B9D 0%, #1D3557 50%, #F1FAEE 50%, #F1FAEE 100%);
}

@-webkit-keyframes progress-anime {
  0% {
    left: -100%;
  }
  75% {
    left: -5%;
  }
  85% {
    left: -5%;
  }
  95% {
    left: 0;
  }
}

@keyframes progress-anime {
  0% {
    left: -100%;
  }
  75% {
    left: -5%;
  }
  85% {
    left: -5%;
  }
  95% {
    left: 0;
  }
}

/* test */
.fadeIn {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gameStart, .nextButton {
  background: none;
  border-radius: 5rem;
  border-style: none;
  border: 7px solid #011627;
  color: #011627;
  margin-top: 60px;
  padding: 20px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 30%;
  text-transform: uppercase;
  position: relative;
}

.gameStart:before, .nextButton:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  content: 'Ready?';
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  -webkit-transition: opacity .2s .25s;
  transition: opacity .2s .25s;
}

.gameStart span, .nextButton span {
  position: relative;
  overflow: hidden;
  display: block;
  width: 95%;
  margin: 0 auto;
  color: transparent;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.gameStart span:after, .nextButton span:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #011627;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.gameStart:hover, .nextButton:hover {
  border: 7px solid #A8DADC;
}

.gameStart:hover:before, .nextButton:hover:before {
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  /* background-color: #ffffff; */
}

.gameStart:hover span, .nextButton:hover span {
  color: #A8DADC;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.gameStart:hover span:after, .nextButton:hover span:after {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
  transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
  transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
  transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1) 0.2s, -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
}

.categorySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryName {
  font-size: 10rem;
  text-align: center;
}

.questionButtons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.questionButtons button {
  font-size: 5rem;
  width: 100%;
  color: #1D3557;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #d3d3d3;
  border-radius: 40px;
  border: 5px solid #1D3557;
}

.questionButtons button:hover:enabled, .questionButtons button:focus:enabled {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.questionButtons button.jQuestion.disabled {
  color: #504f4f;
  border: 5px solid #504f4f;
  background-color: transparent;
}

.questionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.randomQuestion {
  font-size: 4rem;
  text-align: center;
  line-height: 6rem;
  color: #fff5d7;
}

.multipleChoice {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.multipleChoice .incorrect {
  background-color: #9e4c4c;
}

.multipleChoice .correct {
  background-color: #3db977;
  color: #fff5d7;
}

.multipleChoiceAnswer {
  font-size: 3rem;
  width: 100%;
  color: #1D3557;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid #1D3557;
  background-color: #A8DADC;
}

.multipleChoiceAnswer:hover:enabled, .multipleChoiceAnswer:focus:enabled {
  /* background-color:orangered; */
  -webkit-box-shadow: 0 0 10px 7px #1D3557;
          box-shadow: 0 0 10px 7px #1D3557;
  border: 5px solid #A8DADC;
}

.responseResult {
  font-size: 3rem;
  text-align: center;
}

.helpKit {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
}

.helpKit h3 {
  position: absolute;
  width: 100%;
  top: 50%;
  color: #d3d3d3;
  margin-top: -10px;
  text-align: center;
}

/* timer */
.cContainer {
  position: absolute;
  width: 100px;
  top: 15px;
  right: 25px;
}

.cContainer .cText {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #d3d3d3;
  font-size: 2rem;
  line-height: 30px;
  top: 50%;
  margin-top: -15px;
}

.cContainer svg {
  width: 100%;
}

.resultsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsSection h2 {
  font-size: 10rem;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.resultsSection h2:hover, .resultsSection h2:focus {
  font-size: 12rem;
}

.totalScore {
  font-size: 10rem;
  margin-bottom: 50px;
}

.restartButton {
  font-size: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #1D3557;
  font-size: 1.7em;
  line-height: 0.9em;
  color: #fff5d7;
  z-index: 1;
  -webkit-box-shadow: 7px -7px 0px #A8DADC, -7px 7px 0px #A8DADC;
          box-shadow: 7px -7px 0px #A8DADC, -7px 7px 0px #A8DADC;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.restartButton:hover {
  -webkit-box-shadow: 0px 0px 0px #1ACC9B, 0px 0px 0px #1ACC9B;
          box-shadow: 0px 0px 0px #1ACC9B, 0px 0px 0px #1ACC9B;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
